{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" {{ utils.cdncontent('/img/oglogo.png', site) }} />
    <meta name="description" content="{{ page.description }}" />
    {% if page.categories %}
        <meta name="subject"
              content="{% for category in page.categories %}{{ category }}{% if not loop.last %}, {% endif %}{% endfor %}" />
        {% for category in page.categories %}
            <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/categories/{{ category|url_encode(true) }}.xml" title="{{ site.title }} '{{ category }}' category feed" />
        {% endfor %}
    {% endif %}
    {% if page.tags %}
        <meta name="keywords"
              content="{% for tag in page.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}" />
        {% for tag in page.tags %}
            <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/tags/{{ tag|url_encode(true) }}.xml"
                title="{{ site.title }} '{{ tag }}' tag feed" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content_wrapper %}
    {% import "utils.twig" as utils %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h1 itemprop="headline"><a href="{{ page.url }}" itemprop="url">{{ page.title }}</a></h1>
            <div class="meta">
                <time itemprop="datePublished" content="{{ page.date|date('c') }}">
                    {{ page.date|date('jS') }} of {{ page.date|date('F, Y') }}
                </time>
                <time itemprop="dateModified" content="{{ page.date|date('c') }}"></time>
                by
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <a href="{{ page.author.link }}" rel="author" itemprop="url">
                        <span itemprop="name">{{page.author.name}}</span>
                    </a>
                </span>
                <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                    <span itemprop="name" content="Opsbears e.U."></span>
                    <span itemprop="url" content="https://www.opsbears.com/"></span>
                    <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                        <span itemprop="url" content="{{ utils.cdn('/img/opsbears-logo-schema.png', site) }}"></span></span>
                </span>
                <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                        <span itemprop="url" content="{{ utils.cdn('/img/oglogo.png', site) }}"></span></span>
                <span itemprop="mainEntityOfPage" content="{{ page.url }}"></span>
            </div>
        </header>
        <div>
            {{page.blocks.warning|raw}}
            <div itemprop="description">
                {{page.blocks.excerpt|raw}}
            </div>
            {{ page.blocks.content|raw }}
        </div>
        {% if post.meta.categories %}
            {% for category in post.meta.categories %}
                <a href="/categories/{{ category|url_encode(true) }}" class="label label-primary"
                   itemprop="about">
                    {{ category }}
                </a>&nbsp;
            {% endfor %}
        {% endif %}
        {% if post.meta.tags %}
            {% for tag in post.meta.tags %}
                <a href="/tags/{{ tag|url_encode(true) }}" class="label label-success" itemprop="about">
                    {{ tag }}
                </a>&nbsp;
            {% endfor %}
        {% endif %}

        {% if page.previous_post or page.next_post %}
            <nav class="article">
                <ul>
                    {% if page.next_post %}
                        <li>Next: <a class="next" href="{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li>Previous: <a class="previous" href="{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </article>
{% endblock %}
